{% extends 'base.html.twig' %}

{% block title %}Ajout d'un produit | {{ parent() }}{% endblock %}

{% block body %}

    <div>
        {{ form_start(produitForm) }}

        {{ form_widget(produitForm) }}

        <button>Ajout</button>

        {{ form_end(produitForm) }}
    </div>




{% endblock %}